In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 讀出汽車數據

In [2]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data")

In [3]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
len(df)

1727

## 資料框的基本資訊

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
vhigh      1727 non-null object
vhigh.1    1727 non-null object
2          1727 non-null object
2.1        1727 non-null object
small      1727 non-null object
low        1727 non-null object
unacc      1727 non-null object
dtypes: object(7)
memory usage: 94.5+ KB

## 刪除"vhigh"這項數據

In [8]:
df=df.drop("vhigh",axis=1)

In [9]:
df.head()

  vhigh.1  2 2.1  small   low  unacc
0   vhigh  2   2  small   med  unacc
2   vhigh  2   2    med   low  unacc
4   vhigh  2   2    med  high  unacc
6   vhigh  2   2    big   med  unacc
8   vhigh  2   4  small   low  unacc

## 利用"small"這項數據來排名

In [10]:
df_sorted=df.sort_values(by=["small"],ascending=False)

In [11]:
df.tail()

     vhigh.1      2   2.1 small   low  unacc
1722     low  5more  more   med   med   good
1723     low  5more  more   med  high  vgood
1724     low  5more  more   big   low  unacc
1725     low  5more  more   big   med   good
1726     low  5more  more   big  high  vgood